{
  "openapi": "3.1.0",
  "info": {
    "title": "AINumbers.co Fintech Intelligence Suite",
    "version": "1.0.0",
    "description": "**1118 fintech intelligence tools** covering ISO 20022, A2A payments, CFPB §1033, EU AI Act, DORA, MiCA, AML/KYC, BaaS, DLT/tokenization, ESG/climate finance, agentic payments (AP2, ACP, x402, Visa TAP, Mastercard Agent Pay), PQC migration, sanctions screening, and OpenChainGraph v0.4 computation chains.\n\n## Transport\n\n> **The live transport is MCP JSON-RPC 2.0 at `https://mcp.ainumbers.co/mcp` — not REST.**\n>\n> This OpenAPI file is a **descriptive data-room artifact** — a machine-readable index of all tools and their input/output schemas. The REST paths (`POST /v1/tools/{name}`) described here are a projection; they become functional only if the optional REST shim (Area 2 Path B) is deployed.\n>\n> To call tools today, connect via the [official MCP client SDKs](https://docs.ainumbers.co). TypeScript: `@modelcontextprotocol/sdk`. Python: `mcp`.\n\n## Architecture\n\nAll tools run **entirely client-side** (browser JavaScript). Zero PII. Zero server calls after page load. Deterministic, reproducible outputs. Licensed CC BY 4.0.\n\nOpenChainGraph v0.4 compute-binding nodes additionally run **server-side on the MCP Worker** and emit verifiable artifacts with `execution_hash` (WebCrypto SHA-256 over RFC 8785 canonical JSON).",
    "contact": {
      "name": "Post Oak Labs",
      "url": "https://postoaklabs.com",
      "email": "tim@postoaklabs.com"
    },
    "license": {
      "name": "CC BY 4.0",
      "url": "https://creativecommons.org/licenses/by/4.0/"
    }
  },
  "x-mcp": {
    "transport": "MCP JSON-RPC 2.0 (streamable HTTP)",
    "endpoint": "https://mcp.ainumbers.co/mcp",
    "protocol_version": "2025-11-25",
    "authentication": "none",
    "registry": "co.ainumbers/tools (official MCP registry)",
    "note": "Connect any MCP-compatible client (Claude, ChatGPT, custom agent) directly to this endpoint. The REST paths in this file are descriptive only — they do not exist on the live server unless the REST shim is deployed."
  },
  "servers": [
    {
      "url": "https://ainumbers.co",
      "description": "Static browser-based tool host (DreamHost). Tools run client-side — no REST gateway is active on this origin. See x-mcp for the live MCP endpoint."
    }
  ],
  "tags": [
    {
      "name": "0xsplits"
    },
    {
      "name": "1.4"
    },
    {
      "name": "10000-limit"
    },
    {
      "name": "1033"
    },
    {
      "name": "1099-da"
    },
    {
      "name": "12 cfr 229"
    },
    {
      "name": "14-25"
    },
    {
      "name": "148-fields"
    },
    {
      "name": "1:1 backing"
    },
    {
      "name": "2017"
    },
    {
      "name": "2023/2854"
    },
    {
      "name": "2024/886"
    },
    {
      "name": "2025"
    },
    {
      "name": "2025-2027"
    },
    {
      "name": "2026"
    },
    {
      "name": "2026-07-28"
    },
    {
      "name": "2027"
    },
    {
      "name": "23 NYCRR 500"
    },
    {
      "name": "247"
    },
    {
      "name": "25-percent"
    },
    {
      "name": "2a.4"
    },
    {
      "name": "32-cfr-232"
    },
    {
      "name": "3DS"
    },
    {
      "name": "4% rule"
    },
    {
      "name": "401k"
    },
    {
      "name": "5-year"
    },
    {
      "name": "A2A"
    },
    {
      "name": "ACDC"
    },
    {
      "name": "ACH"
    },
    {
      "name": "ACL"
    },
    {
      "name": "ACP"
    },
    {
      "name": "AI"
    },
    {
      "name": "AM-Best"
    },
    {
      "name": "AML"
    },
    {
      "name": "AMLA"
    },
    {
      "name": "AMLR"
    },
    {
      "name": "AP2"
    },
    {
      "name": "AP2 export"
    },
    {
      "name": "API"
    },
    {
      "name": "APP"
    },
    {
      "name": "APP fraud"
    },
    {
      "name": "APP-fraud"
    },
    {
      "name": "AR4SI"
    },
    {
      "name": "ARM"
    },
    {
      "name": "ART"
    },
    {
      "name": "Agent Pay"
    },
    {
      "name": "Agent Payments Protocol"
    },
    {
      "name": "Agent2Agent"
    },
    {
      "name": "Agentic Commerce Protocol"
    },
    {
      "name": "Agentic Ready"
    },
    {
      "name": "Agentic Token"
    },
    {
      "name": "Amex"
    },
    {
      "name": "Annex-III"
    },
    {
      "name": "April 2026"
    },
    {
      "name": "Art 28"
    },
    {
      "name": "Art. 25"
    },
    {
      "name": "Art. 46a"
    },
    {
      "name": "Art.26"
    },
    {
      "name": "Art.28"
    },
    {
      "name": "Art.30"
    },
    {
      "name": "Art.36"
    },
    {
      "name": "Art.76a"
    },
    {
      "name": "Art.8"
    },
    {
      "name": "Art.9"
    },
    {
      "name": "Article 10"
    },
    {
      "name": "Article 9"
    },
    {
      "name": "August 2026"
    },
    {
      "name": "B2B"
    },
    {
      "name": "BCBS-239"
    },
    {
      "name": "BIC"
    },
    {
      "name": "BIS3"
    },
    {
      "name": "BNPL"
    },
    {
      "name": "BSA"
    },
    {
      "name": "BSCR"
    },
    {
      "name": "BaaS"
    },
    {
      "name": "Basel"
    },
    {
      "name": "Basel III"
    },
    {
      "name": "Basel III Endgame"
    },
    {
      "name": "Basel IV"
    },
    {
      "name": "C2PA"
    },
    {
      "name": "CAS"
    },
    {
      "name": "CASP"
    },
    {
      "name": "CAWG"
    },
    {
      "name": "CBEST"
    },
    {
      "name": "CBO"
    },
    {
      "name": "CBPR+"
    },
    {
      "name": "CCA"
    },
    {
      "name": "CCC"
    },
    {
      "name": "CCP"
    },
    {
      "name": "CCPA"
    },
    {
      "name": "CDD"
    },
    {
      "name": "CDE"
    },
    {
      "name": "CDO"
    },
    {
      "name": "CDR"
    },
    {
      "name": "CET1"
    },
    {
      "name": "CFO memo"
    },
    {
      "name": "CFPB"
    },
    {
      "name": "CFPB 1033"
    },
    {
      "name": "CFTC"
    },
    {
      "name": "CHAPS"
    },
    {
      "name": "CIP"
    },
    {
      "name": "CIPS"
    },
    {
      "name": "CISO"
    },
    {
      "name": "CLO"
    },
    {
      "name": "CMG"
    },
    {
      "name": "CMVP"
    },
    {
      "name": "CNP"
    },
    {
      "name": "CONC 5A"
    },
    {
      "name": "CPMI-IOSCO"
    },
    {
      "name": "CPS"
    },
    {
      "name": "CRD6"
    },
    {
      "name": "CRE52"
    },
    {
      "name": "CRE70"
    },
    {
      "name": "CREST"
    },
    {
      "name": "CRQC"
    },
    {
      "name": "CRR III"
    },
    {
      "name": "CRR3"
    },
    {
      "name": "CSD"
    },
    {
      "name": "CSRD"
    },
    {
      "name": "CapEx"
    },
    {
      "name": "CoP"
    },
    {
      "name": "CoP 2.0"
    },
    {
      "name": "Consumer Duty"
    },
    {
      "name": "Cover-2"
    },
    {
      "name": "DIO"
    },
    {
      "name": "DLT"
    },
    {
      "name": "DNS rebinding"
    },
    {
      "name": "DNSH"
    },
    {
      "name": "DORA"
    },
    {
      "name": "DPA"
    },
    {
      "name": "DPC"
    },
    {
      "name": "DPO"
    },
    {
      "name": "DPoP"
    },
    {
      "name": "DRR"
    },
    {
      "name": "DRR migration"
    },
    {
      "name": "DSO"
    },
    {
      "name": "DSR"
    },
    {
      "name": "DST"
    },
    {
      "name": "December 2026"
    },
    {
      "name": "DvP"
    },
    {
      "name": "EBA"
    },
    {
      "name": "EC Sales List"
    },
    {
      "name": "ECOA"
    },
    {
      "name": "ECR"
    },
    {
      "name": "EDD"
    },
    {
      "name": "EFRAG"
    },
    {
      "name": "EIOPA"
    },
    {
      "name": "EMI"
    },
    {
      "name": "EMIR"
    },
    {
      "name": "EMT"
    },
    {
      "name": "EMV"
    },
    {
      "name": "EN 16931"
    },
    {
      "name": "EN16931"
    },
    {
      "name": "EPC"
    },
    {
      "name": "ERA"
    },
    {
      "name": "ESG"
    },
    {
      "name": "ESL"
    },
    {
      "name": "ESMA"
    },
    {
      "name": "ESRS"
    },
    {
      "name": "EU"
    },
    {
      "name": "EU 2019/2088"
    },
    {
      "name": "EU 2022/2554"
    },
    {
      "name": "EU 2024/1623"
    },
    {
      "name": "EU 2025/516"
    },
    {
      "name": "EU 2027"
    },
    {
      "name": "EU AI Act"
    },
    {
      "name": "EU IPR"
    },
    {
      "name": "EU taxonomy"
    },
    {
      "name": "EU-2015/35"
    },
    {
      "name": "EU-AI-Act"
    },
    {
      "name": "EU-sanctions"
    },
    {
      "name": "EUDI Wallet"
    },
    {
      "name": "EUDI wallet"
    },
    {
      "name": "Ed25519"
    },
    {
      "name": "EndToEndId matching"
    },
    {
      "name": "FAPI"
    },
    {
      "name": "FAPI 2.0"
    },
    {
      "name": "FATF"
    },
    {
      "name": "FCA"
    },
    {
      "name": "FCA-Consumer-Duty"
    },
    {
      "name": "FCA-PS21-3"
    },
    {
      "name": "FDIC"
    },
    {
      "name": "FDSS"
    },
    {
      "name": "FFIEC-BCP"
    },
    {
      "name": "FIDA"
    },
    {
      "name": "FIDO"
    },
    {
      "name": "FIPS 140-2"
    },
    {
      "name": "FIPS 140-3"
    },
    {
      "name": "FIPS 203"
    },
    {
      "name": "FIPS 204"
    },
    {
      "name": "FIPS 205"
    },
    {
      "name": "FIRE"
    },
    {
      "name": "FRB-SR-2022"
    },
    {
      "name": "FRTB"
    },
    {
      "name": "FX"
    },
    {
      "name": "Faster Payments"
    },
    {
      "name": "Fed"
    },
    {
      "name": "Fed deposit"
    },
    {
      "name": "FedNow"
    },
    {
      "name": "Federal Reserve"
    },
    {
      "name": "Fedwire"
    },
    {
      "name": "FiDA"
    },
    {
      "name": "FinCEN"
    },
    {
      "name": "Friedland-2010"
    },
    {
      "name": "GAR"
    },
    {
      "name": "GDPR"
    },
    {
      "name": "GENIUS Act"
    },
    {
      "name": "GLEIF"
    },
    {
      "name": "GWP"
    },
    {
      "name": "Google"
    },
    {
      "name": "Google A2A"
    },
    {
      "name": "Guyton-Klinger"
    },
    {
      "name": "HNDL"
    },
    {
      "name": "HTTP 402"
    },
    {
      "name": "HTTP Message Signatures"
    },
    {
      "name": "Helm"
    },
    {
      "name": "IBAN"
    },
    {
      "name": "IBNR"
    },
    {
      "name": "IBS"
    },
    {
      "name": "ICT"
    },
    {
      "name": "ICT incident"
    },
    {
      "name": "IDD"
    },
    {
      "name": "IDV"
    },
    {
      "name": "ILS"
    },
    {
      "name": "IMA"
    },
    {
      "name": "IOSS"
    },
    {
      "name": "IPR"
    },
    {
      "name": "IRA"
    },
    {
      "name": "IRDAI"
    },
    {
      "name": "IRR"
    },
    {
      "name": "ISA"
    },
    {
      "name": "ISO 13616"
    },
    {
      "name": "ISO 20022"
    },
    {
      "name": "ISO-17442"
    },
    {
      "name": "ISO-20022"
    },
    {
      "name": "ISO20022"
    },
    {
      "name": "ITS"
    },
    {
      "name": "Intelligent Commerce"
    },
    {
      "name": "JSON"
    },
    {
      "name": "JSON Schema 2020-12"
    },
    {
      "name": "JWT"
    },
    {
      "name": "Jan 2026"
    },
    {
      "name": "July 2026"
    },
    {
      "name": "July 2027"
    },
    {
      "name": "July 2028"
    },
    {
      "name": "KB-JWT"
    },
    {
      "name": "KERI"
    },
    {
      "name": "KID"
    },
    {
      "name": "KSeF"
    },
    {
      "name": "KYA"
    },
    {
      "name": "KYB"
    },
    {
      "name": "KYC"
    },
    {
      "name": "LCR"
    },
    {
      "name": "LDF"
    },
    {
      "name": "LEI"
    },
    {
      "name": "LISA"
    },
    {
      "name": "LR002"
    },
    {
      "name": "Lloyds-RDS"
    },
    {
      "name": "M&A"
    },
    {
      "name": "M2M"
    },
    {
      "name": "MCC"
    },
    {
      "name": "MCP"
    },
    {
      "name": "MDES"
    },
    {
      "name": "MDR"
    },
    {
      "name": "ML"
    },
    {
      "name": "ML-DSA"
    },
    {
      "name": "ML-KEM"
    },
    {
      "name": "MOD-97-10"
    },
    {
      "name": "MRM"
    },
    {
      "name": "MSS"
    },
    {
      "name": "March 2026 proposal"
    },
    {
      "name": "Mastercard"
    },
    {
      "name": "Mastercard Agent Pay"
    },
    {
      "name": "Merit I"
    },
    {
      "name": "Merkle inclusion"
    },
    {
      "name": "Merkle receipt"
    },
    {
      "name": "Merkle tree"
    },
    {
      "name": "MiCA"
    },
    {
      "name": "MiFID-II"
    },
    {
      "name": "MiFIR"
    },
    {
      "name": "Model-Act-312"
    },
    {
      "name": "Monte-Carlo"
    },
    {
      "name": "NABU"
    },
    {
      "name": "NACHA"
    },
    {
      "name": "NAIC"
    },
    {
      "name": "NAIC-IRIS"
    },
    {
      "name": "NAIC-RBC"
    },
    {
      "name": "NCA"
    },
    {
      "name": "NIST"
    },
    {
      "name": "NISTIR 8547"
    },
    {
      "name": "NMRF"
    },
    {
      "name": "NPP"
    },
    {
      "name": "NPV"
    },
    {
      "name": "NYDFS"
    },
    {
      "name": "Non-Union OSS"
    },
    {
      "name": "November 2026"
    },
    {
      "name": "OAuth 2.1"
    },
    {
      "name": "OAuth2"
    },
    {
      "name": "OCC"
    },
    {
      "name": "OCG receipt"
    },
    {
      "name": "OCG section 22.9"
    },
    {
      "name": "OCG section 23"
    },
    {
      "name": "ODFI"
    },
    {
      "name": "OFAC"
    },
    {
      "name": "OFSI"
    },
    {
      "name": "OSS"
    },
    {
      "name": "OTLP"
    },
    {
      "name": "OWASP ASI01"
    },
    {
      "name": "October 2027"
    },
    {
      "name": "OpenAI"
    },
    {
      "name": "OpenTelemetry"
    },
    {
      "name": "Origin"
    },
    {
      "name": "P&C"
    },
    {
      "name": "P&L attribution"
    },
    {
      "name": "PAI"
    },
    {
      "name": "PAR"
    },
    {
      "name": "PCI DSS"
    },
    {
      "name": "PCI-DSS 12.3.3"
    },
    {
      "name": "PFMI"
    },
    {
      "name": "PIX"
    },
    {
      "name": "PKCE"
    },
    {
      "name": "PML"
    },
    {
      "name": "PPSI"
    },
    {
      "name": "PQC"
    },
    {
      "name": "PQD"
    },
    {
      "name": "PRA-SS1-21"
    },
    {
      "name": "PRIIPs"
    },
    {
      "name": "PRIN 12"
    },
    {
      "name": "PRIN-2A"
    },
    {
      "name": "PS22/9"
    },
    {
      "name": "PS23/16"
    },
    {
      "name": "PS26/1"
    },
    {
      "name": "PSD2"
    },
    {
      "name": "PSD3"
    },
    {
      "name": "PSR"
    },
    {
      "name": "Pay.UK"
    },
    {
      "name": "PayTo"
    },
    {
      "name": "PaymentPayload"
    },
    {
      "name": "Peppol"
    },
    {
      "name": "PostCode"
    },
    {
      "name": "QuickJS"
    },
    {
      "name": "RBC"
    },
    {
      "name": "RDFI"
    },
    {
      "name": "RFC 6962"
    },
    {
      "name": "RFC 8707"
    },
    {
      "name": "RFC 9421"
    },
    {
      "name": "RFC 9728"
    },
    {
      "name": "RFC 9901"
    },
    {
      "name": "ROI"
    },
    {
      "name": "RTP"
    },
    {
      "name": "RTP/TCH"
    },
    {
      "name": "RTS-22"
    },
    {
      "name": "RWA"
    },
    {
      "name": "Roth"
    },
    {
      "name": "SA"
    },
    {
      "name": "SA-CCR"
    },
    {
      "name": "SAID"
    },
    {
      "name": "SAQ"
    },
    {
      "name": "SAR"
    },
    {
      "name": "SCA"
    },
    {
      "name": "SCR"
    },
    {
      "name": "SCT Inst"
    },
    {
      "name": "SD-JWT"
    },
    {
      "name": "SD20"
    },
    {
      "name": "SDR"
    },
    {
      "name": "SEC"
    },
    {
      "name": "SEPA"
    },
    {
      "name": "SEPA Instant"
    },
    {
      "name": "SEPA-Instant"
    },
    {
      "name": "SFDR"
    },
    {
      "name": "SLA"
    },
    {
      "name": "SLH-DSA"
    },
    {
      "name": "SR 11-7"
    },
    {
      "name": "SR 26-02"
    },
    {
      "name": "SR-11-7"
    },
    {
      "name": "SR-26-2"
    },
    {
      "name": "SRI"
    },
    {
      "name": "SVR"
    },
    {
      "name": "SWIFT"
    },
    {
      "name": "SWIFT CBPR+"
    },
    {
      "name": "SWR"
    },
    {
      "name": "Shared Payment Token"
    },
    {
      "name": "Single Rulebook"
    },
    {
      "name": "Single VAT Registration"
    },
    {
      "name": "Streamable HTTP"
    },
    {
      "name": "StreetName"
    },
    {
      "name": "Stripe"
    },
    {
      "name": "T+1"
    },
    {
      "name": "T-bill"
    },
    {
      "name": "TAP"
    },
    {
      "name": "TARGET2"
    },
    {
      "name": "TIBER-EU"
    },
    {
      "name": "TLPT"
    },
    {
      "name": "TODO_AP2_EXPORT_REVIEW"
    },
    {
      "name": "TODO_TAGS_REVIEW"
    },
    {
      "name": "TPPP"
    },
    {
      "name": "TPR"
    },
    {
      "name": "TRA"
    },
    {
      "name": "TownName"
    },
    {
      "name": "Travel Rule"
    },
    {
      "name": "Trusted Agent Protocol"
    },
    {
      "name": "UBO"
    },
    {
      "name": "UCP"
    },
    {
      "name": "UK"
    },
    {
      "name": "UK GDPR"
    },
    {
      "name": "UK OB"
    },
    {
      "name": "UK PSR"
    },
    {
      "name": "UK savings"
    },
    {
      "name": "UK-PSR"
    },
    {
      "name": "UPI"
    },
    {
      "name": "US banks"
    },
    {
      "name": "US capital rules"
    },
    {
      "name": "UST"
    },
    {
      "name": "UX"
    },
    {
      "name": "Union OSS"
    },
    {
      "name": "VAT"
    },
    {
      "name": "VAT liability"
    },
    {
      "name": "VAT routing"
    },
    {
      "name": "VC 2.0"
    },
    {
      "name": "VDCAP"
    },
    {
      "name": "VDR"
    },
    {
      "name": "VIC"
    },
    {
      "name": "VM"
    },
    {
      "name": "VOP"
    },
    {
      "name": "VRP"
    },
    {
      "name": "VSD"
    },
    {
      "name": "Verifiable Digital Credential"
    },
    {
      "name": "ViDA"
    },
    {
      "name": "Visa"
    },
    {
      "name": "Visa Intelligent Commerce"
    },
    {
      "name": "Visa TAP"
    },
    {
      "name": "Visa Trusted Agent Protocol"
    },
    {
      "name": "VoP"
    },
    {
      "name": "Wave 1"
    },
    {
      "name": "WealthTech"
    },
    {
      "name": "Web Bot Auth"
    },
    {
      "name": "WebAssembly"
    },
    {
      "name": "XL"
    },
    {
      "name": "XML"
    },
    {
      "name": "Zero-PII"
    },
    {
      "name": "a-f-grade"
    },
    {
      "name": "a16z"
    },
    {
      "name": "abuse"
    },
    {
      "name": "acceptance-deadline"
    },
    {
      "name": "acceptance-policy"
    },
    {
      "name": "account"
    },
    {
      "name": "accumulation-risk"
    },
    {
      "name": "ach"
    },
    {
      "name": "act"
    },
    {
      "name": "action-type"
    },
    {
      "name": "actuarial"
    },
    {
      "name": "address"
    },
    {
      "name": "adjudication"
    },
    {
      "name": "affirmation"
    },
    {
      "name": "affordability"
    },
    {
      "name": "agent"
    },
    {
      "name": "agent card"
    },
    {
      "name": "agent identity"
    },
    {
      "name": "agent recognition"
    },
    {
      "name": "agent token"
    },
    {
      "name": "agent tooling"
    },
    {
      "name": "agent-card"
    },
    {
      "name": "agent-identity"
    },
    {
      "name": "agent-observability"
    },
    {
      "name": "agent-payment"
    },
    {
      "name": "agent-traffic"
    },
    {
      "name": "agent_guardrail"
    },
    {
      "name": "agent_guardrail_mandate"
    },
    {
      "name": "agentic"
    },
    {
      "name": "agentic payments"
    },
    {
      "name": "agreement"
    },
    {
      "name": "ai-provenance"
    },
    {
      "name": "ai-training"
    },
    {
      "name": "ai-underwriting"
    },
    {
      "name": "air-gapped"
    },
    {
      "name": "airdrop"
    },
    {
      "name": "airgapped"
    },
    {
      "name": "aiuc-1"
    },
    {
      "name": "allowlist"
    },
    {
      "name": "alpha"
    },
    {
      "name": "aml"
    },
    {
      "name": "aml_rule"
    },
    {
      "name": "amld6"
    },
    {
      "name": "amlr"
    },
    {
      "name": "analytics_mandate"
    },
    {
      "name": "anchor"
    },
    {
      "name": "anna-dsb"
    },
    {
      "name": "annex-ii"
    },
    {
      "name": "annotations"
    },
    {
      "name": "annual allowance"
    },
    {
      "name": "annual report"
    },
    {
      "name": "annual review"
    },
    {
      "name": "anti-greenwashing"
    },
    {
      "name": "ap2"
    },
    {
      "name": "api"
    },
    {
      "name": "app"
    },
    {
      "name": "apr"
    },
    {
      "name": "art"
    },
    {
      "name": "art19"
    },
    {
      "name": "art43"
    },
    {
      "name": "art50"
    },
    {
      "name": "art51"
    },
    {
      "name": "art56"
    },
    {
      "name": "art60"
    },
    {
      "name": "art88-97"
    },
    {
      "name": "article"
    },
    {
      "name": "article-18"
    },
    {
      "name": "as-1105"
    },
    {
      "name": "as-1215"
    },
    {
      "name": "as-2301"
    },
    {
      "name": "as-if"
    },
    {
      "name": "asf"
    },
    {
      "name": "asserted"
    },
    {
      "name": "asserted mapping"
    },
    {
      "name": "assertions"
    },
    {
      "name": "assessment"
    },
    {
      "name": "assessment fee"
    },
    {
      "name": "asset"
    },
    {
      "name": "async-vault"
    },
    {
      "name": "atomic settlement"
    },
    {
      "name": "atomicity"
    },
    {
      "name": "attestation"
    },
    {
      "name": "attestation_mandate"
    },
    {
      "name": "attribution"
    },
    {
      "name": "audit"
    },
    {
      "name": "audit-evidence"
    },
    {
      "name": "auditor"
    },
    {
      "name": "auth030"
    },
    {
      "name": "authentication"
    },
    {
      "name": "authorisation"
    },
    {
      "name": "authorization"
    },
    {
      "name": "authorized-control-level"
    },
    {
      "name": "ba-cva"
    },
    {
      "name": "back-testing"
    },
    {
      "name": "banking"
    },
    {
      "name": "banking operations"
    },
    {
      "name": "base32"
    },
    {
      "name": "basel"
    },
    {
      "name": "basel-iii"
    },
    {
      "name": "basis"
    },
    {
      "name": "basis points"
    },
    {
      "name": "basis-risk"
    },
    {
      "name": "batch"
    },
    {
      "name": "batch validation"
    },
    {
      "name": "bcbs-238"
    },
    {
      "name": "bcbs-270"
    },
    {
      "name": "bcbs-295"
    },
    {
      "name": "bcbs-309"
    },
    {
      "name": "bcbs-360"
    },
    {
      "name": "bcbs-400"
    },
    {
      "name": "bec"
    },
    {
      "name": "bedrock-agentcore"
    },
    {
      "name": "benchmark"
    },
    {
      "name": "benchmarking"
    },
    {
      "name": "beneficial ownership"
    },
    {
      "name": "beneficial-ownership"
    },
    {
      "name": "benji"
    },
    {
      "name": "bermuda-BSCR"
    },
    {
      "name": "best-interest"
    },
    {
      "name": "bias"
    },
    {
      "name": "bidirectional"
    },
    {
      "name": "binder"
    },
    {
      "name": "binding"
    },
    {
      "name": "binding-constraint"
    },
    {
      "name": "bitcoin"
    },
    {
      "name": "blake3"
    },
    {
      "name": "blockchain"
    },
    {
      "name": "bnpl"
    },
    {
      "name": "board"
    },
    {
      "name": "board memo"
    },
    {
      "name": "board report"
    },
    {
      "name": "board-reporting"
    },
    {
      "name": "bornhuetter-ferguson"
    },
    {
      "name": "branch"
    },
    {
      "name": "break-even"
    },
    {
      "name": "breakeven"
    },
    {
      "name": "broker-dealer"
    },
    {
      "name": "broker-reporting"
    },
    {
      "name": "builder"
    },
    {
      "name": "burn rate"
    },
    {
      "name": "burning-cost"
    },
    {
      "name": "business"
    },
    {
      "name": "business days"
    },
    {
      "name": "c2pa"
    },
    {
      "name": "c2patool"
    },
    {
      "name": "calc-agent-independence"
    },
    {
      "name": "calendar"
    },
    {
      "name": "calibration"
    },
    {
      "name": "camt"
    },
    {
      "name": "camt.053"
    },
    {
      "name": "canonicalize"
    },
    {
      "name": "cant-be-evil"
    },
    {
      "name": "canton"
    },
    {
      "name": "capability discovery"
    },
    {
      "name": "capital"
    },
    {
      "name": "capital adequacy"
    },
    {
      "name": "capital efficiency"
    },
    {
      "name": "capital markets"
    },
    {
      "name": "capital requirements"
    },
    {
      "name": "capital-comparison"
    },
    {
      "name": "capital-gain"
    },
    {
      "name": "capital_assessment"
    },
    {
      "name": "card"
    },
    {
      "name": "carf"
    },
    {
      "name": "cartmandate"
    },
    {
      "name": "cascade"
    },
    {
      "name": "case"
    },
    {
      "name": "case file"
    },
    {
      "name": "cash"
    },
    {
      "name": "cash-leg"
    },
    {
      "name": "casp"
    },
    {
      "name": "cat-bond"
    },
    {
      "name": "catastrophe-bond"
    },
    {
      "name": "catastrophe-model"
    },
    {
      "name": "cbcr"
    },
    {
      "name": "cbpr+"
    },
    {
      "name": "cc-by"
    },
    {
      "name": "cc0"
    },
    {
      "name": "ccd2"
    },
    {
      "name": "ccrel"
    },
    {
      "name": "cdd"
    },
    {
      "name": "cell-diff"
    },
    {
      "name": "certification"
    },
    {
      "name": "cft"
    },
    {
      "name": "chain-ladder"
    },
    {
      "name": "chaingraph"
    },
    {
      "name": "chaingraph_export"
    },
    {
      "name": "challenge"
    },
    {
      "name": "charge-inclusion"
    },
    {
      "name": "chargeback"
    },
    {
      "name": "check hold"
    },
    {
      "name": "checklist"
    },
    {
      "name": "checkout"
    },
    {
      "name": "checkpoint"
    },
    {
      "name": "checkrun"
    },
    {
      "name": "chips"
    },
    {
      "name": "cid"
    },
    {
      "name": "cidv1"
    },
    {
      "name": "claim evidence"
    },
    {
      "name": "class"
    },
    {
      "name": "classification"
    },
    {
      "name": "clause"
    },
    {
      "name": "clearing"
    },
    {
      "name": "clearinghouse"
    },
    {
      "name": "climate risk"
    },
    {
      "name": "close match"
    },
    {
      "name": "cloud"
    },
    {
      "name": "cloudflare"
    },
    {
      "name": "cnav"
    },
    {
      "name": "code"
    },
    {
      "name": "coexistence"
    },
    {
      "name": "collateral"
    },
    {
      "name": "collateral-swap"
    },
    {
      "name": "collateral_mandate"
    },
    {
      "name": "colour"
    },
    {
      "name": "com/2023/360"
    },
    {
      "name": "combined-ratio"
    },
    {
      "name": "commercial"
    },
    {
      "name": "commercial-remix"
    },
    {
      "name": "common paper"
    },
    {
      "name": "comparator"
    },
    {
      "name": "compare"
    },
    {
      "name": "comparison"
    },
    {
      "name": "compatibility"
    },
    {
      "name": "compliance"
    },
    {
      "name": "compliance score"
    },
    {
      "name": "compliance-calendar"
    },
    {
      "name": "compliance-scoring"
    },
    {
      "name": "compliance_control"
    },
    {
      "name": "compliance_mandate"
    },
    {
      "name": "composer"
    },
    {
      "name": "confirmation of payee"
    },
    {
      "name": "conformance"
    },
    {
      "name": "confused deputy"
    },
    {
      "name": "connected"
    },
    {
      "name": "consent"
    },
    {
      "name": "consent policy"
    },
    {
      "name": "consumer"
    },
    {
      "name": "consumer-credit"
    },
    {
      "name": "consumer-data"
    },
    {
      "name": "content addressing"
    },
    {
      "name": "content credentials"
    },
    {
      "name": "content-code"
    },
    {
      "name": "content-creator"
    },
    {
      "name": "content-credentials"
    },
    {
      "name": "contract"
    },
    {
      "name": "control sum"
    },
    {
      "name": "controller"
    },
    {
      "name": "conversion"
    },
    {
      "name": "corporate-action"
    },
    {
      "name": "correlation"
    },
    {
      "name": "correspondence receipt"
    },
    {
      "name": "correspondent banking"
    },
    {
      "name": "cose"
    },
    {
      "name": "cost"
    },
    {
      "name": "cost analysis"
    },
    {
      "name": "cost disclosure"
    },
    {
      "name": "cost optimisation"
    },
    {
      "name": "cost-basis"
    },
    {
      "name": "cost-to-serve"
    },
    {
      "name": "counterparty"
    },
    {
      "name": "counterparty-default"
    },
    {
      "name": "covariance"
    },
    {
      "name": "coverage"
    },
    {
      "name": "covered-security"
    },
    {
      "name": "covered-taxes"
    },
    {
      "name": "creative commons"
    },
    {
      "name": "creative-commons"
    },
    {
      "name": "credential"
    },
    {
      "name": "credibility"
    },
    {
      "name": "credit"
    },
    {
      "name": "credit entry"
    },
    {
      "name": "credit risk"
    },
    {
      "name": "credit scoring"
    },
    {
      "name": "credit transfer initiation"
    },
    {
      "name": "credit_assessment"
    },
    {
      "name": "creditworthiness"
    },
    {
      "name": "cross-border"
    },
    {
      "name": "cross-sector"
    },
    {
      "name": "crr2"
    },
    {
      "name": "crr3"
    },
    {
      "name": "crypto"
    },
    {
      "name": "crypto inventory"
    },
    {
      "name": "crypto-agility"
    },
    {
      "name": "crypto-asset"
    },
    {
      "name": "crypto-primitive"
    },
    {
      "name": "crypto-tax"
    },
    {
      "name": "crypto_regulatory_mandate"
    },
    {
      "name": "cryptographic_mandate"
    },
    {
      "name": "csv"
    },
    {
      "name": "currency-basket"
    },
    {
      "name": "custody"
    },
    {
      "name": "customer"
    },
    {
      "name": "customer risk"
    },
    {
      "name": "cutoff"
    },
    {
      "name": "cva"
    },
    {
      "name": "cyber resilience"
    },
    {
      "name": "cyber-insurance"
    },
    {
      "name": "cybersecurity regulation"
    },
    {
      "name": "d499"
    },
    {
      "name": "dac8"
    },
    {
      "name": "dag-pb"
    },
    {
      "name": "daml"
    },
    {
      "name": "dashboard"
    },
    {
      "name": "data"
    },
    {
      "name": "data governance"
    },
    {
      "name": "data holder"
    },
    {
      "name": "data processing"
    },
    {
      "name": "data room"
    },
    {
      "name": "data security"
    },
    {
      "name": "data sharing"
    },
    {
      "name": "data user"
    },
    {
      "name": "data-governance"
    },
    {
      "name": "data-quality"
    },
    {
      "name": "data-rights"
    },
    {
      "name": "data-subject-rights"
    },
    {
      "name": "de-minimis"
    },
    {
      "name": "dealing"
    },
    {
      "name": "decision engine"
    },
    {
      "name": "decline"
    },
    {
      "name": "decoder"
    },
    {
      "name": "deemed supplier"
    },
    {
      "name": "deepfake"
    },
    {
      "name": "default fund"
    },
    {
      "name": "definition"
    },
    {
      "name": "delegated payment"
    },
    {
      "name": "deployer"
    },
    {
      "name": "deposit compliance"
    },
    {
      "name": "deposits"
    },
    {
      "name": "derivatives"
    },
    {
      "name": "desk"
    },
    {
      "name": "determinism"
    },
    {
      "name": "device"
    },
    {
      "name": "diagnostic"
    },
    {
      "name": "did:key"
    },
    {
      "name": "diff"
    },
    {
      "name": "digest"
    },
    {
      "name": "digest-pinning"
    },
    {
      "name": "digital assets"
    },
    {
      "name": "digital identity"
    },
    {
      "name": "digital platforms"
    },
    {
      "name": "digital reporting requirements"
    },
    {
      "name": "digital-asset"
    },
    {
      "name": "digitalSourceType"
    },
    {
      "name": "digitalsourcetype"
    },
    {
      "name": "direct debit"
    },
    {
      "name": "disclosure"
    },
    {
      "name": "disclosure manifest"
    },
    {
      "name": "disclosure_template"
    },
    {
      "name": "disparate impact"
    },
    {
      "name": "disposition"
    },
    {
      "name": "dispute"
    },
    {
      "name": "dlt-pilot"
    },
    {
      "name": "docket-deadlines"
    },
    {
      "name": "documentation"
    },
    {
      "name": "domain-separation"
    },
    {
      "name": "double materiality"
    },
    {
      "name": "downgrade"
    },
    {
      "name": "dtc"
    },
    {
      "name": "dual"
    },
    {
      "name": "dual-layer"
    },
    {
      "name": "due diligence"
    },
    {
      "name": "duty"
    },
    {
      "name": "dvp"
    },
    {
      "name": "e-invoice"
    },
    {
      "name": "e-invoicing"
    },
    {
      "name": "eIDAS 2.0"
    },
    {
      "name": "ead"
    },
    {
      "name": "eba"
    },
    {
      "name": "ecdsa-recovery"
    },
    {
      "name": "ed25519"
    },
    {
      "name": "edd"
    },
    {
      "name": "eddsa"
    },
    {
      "name": "eddsa-jcs-2022"
    },
    {
      "name": "edgar-nmfp"
    },
    {
      "name": "eidas2"
    },
    {
      "name": "eip-3009"
    },
    {
      "name": "eip-712"
    },
    {
      "name": "embedded-insurance"
    },
    {
      "name": "emd2"
    },
    {
      "name": "emi"
    },
    {
      "name": "emir"
    },
    {
      "name": "emir-refit"
    },
    {
      "name": "emr"
    },
    {
      "name": "emt"
    },
    {
      "name": "engagement"
    },
    {
      "name": "engagement-file"
    },
    {
      "name": "erc-1155"
    },
    {
      "name": "erc-2981"
    },
    {
      "name": "erc-4626"
    },
    {
      "name": "erc-721"
    },
    {
      "name": "erc-7540"
    },
    {
      "name": "error"
    },
    {
      "name": "escalation"
    },
    {
      "name": "esma"
    },
    {
      "name": "etr"
    },
    {
      "name": "eu"
    },
    {
      "name": "eu-ai-act"
    },
    {
      "name": "eu-mmfr"
    },
    {
      "name": "eu27"
    },
    {
      "name": "eudi"
    },
    {
      "name": "evidence"
    },
    {
      "name": "evidence bundle"
    },
    {
      "name": "evidence index"
    },
    {
      "name": "evidence-bundle"
    },
    {
      "name": "examiner"
    },
    {
      "name": "excel"
    },
    {
      "name": "exception disposition"
    },
    {
      "name": "exceptions"
    },
    {
      "name": "excess-of-loss"
    },
    {
      "name": "exchange-assurance"
    },
    {
      "name": "exclusive"
    },
    {
      "name": "execution_hash"
    },
    {
      "name": "exemptions"
    },
    {
      "name": "exhaustive-enumeration"
    },
    {
      "name": "expanded risk-based approach"
    },
    {
      "name": "expense-ratio"
    },
    {
      "name": "expiry"
    },
    {
      "name": "explainability"
    },
    {
      "name": "export"
    },
    {
      "name": "export fidelity"
    },
    {
      "name": "exposure"
    },
    {
      "name": "facilitator"
    },
    {
      "name": "failure points"
    },
    {
      "name": "failure receipt"
    },
    {
      "name": "fair"
    },
    {
      "name": "fair lending"
    },
    {
      "name": "false pretenses"
    },
    {
      "name": "fatf"
    },
    {
      "name": "fca"
    },
    {
      "name": "federal"
    },
    {
      "name": "fedwire"
    },
    {
      "name": "fee"
    },
    {
      "name": "fee parity"
    },
    {
      "name": "fg21/1"
    },
    {
      "name": "fida"
    },
    {
      "name": "field"
    },
    {
      "name": "fifo"
    },
    {
      "name": "file format"
    },
    {
      "name": "filing"
    },
    {
      "name": "finality"
    },
    {
      "name": "finance"
    },
    {
      "name": "financial"
    },
    {
      "name": "financial data access"
    },
    {
      "name": "financial services"
    },
    {
      "name": "fingerprint"
    },
    {
      "name": "finra"
    },
    {
      "name": "fip"
    },
    {
      "name": "firewall"
    },
    {
      "name": "firm"
    },
    {
      "name": "fixed-amount-method"
    },
    {
      "name": "flow"
    },
    {
      "name": "forecast"
    },
    {
      "name": "foreign issuer"
    },
    {
      "name": "form-crs"
    },
    {
      "name": "formula"
    },
    {
      "name": "founder"
    },
    {
      "name": "four"
    },
    {
      "name": "four outcomes"
    },
    {
      "name": "four-outcomes"
    },
    {
      "name": "framework"
    },
    {
      "name": "fraud"
    },
    {
      "name": "fraud detection"
    },
    {
      "name": "fraud monitoring"
    },
    {
      "name": "fraud-graph"
    },
    {
      "name": "fraud-policy"
    },
    {
      "name": "freedom"
    },
    {
      "name": "frictionless"
    },
    {
      "name": "frtb"
    },
    {
      "name": "fund"
    },
    {
      "name": "funds"
    },
    {
      "name": "funds availability"
    },
    {
      "name": "fuzzy-match"
    },
    {
      "name": "fx"
    },
    {
      "name": "g-sib"
    },
    {
      "name": "gap analysis"
    },
    {
      "name": "gap-analysis"
    },
    {
      "name": "gen_ai"
    },
    {
      "name": "genius"
    },
    {
      "name": "genius-act"
    },
    {
      "name": "gir"
    },
    {
      "name": "globe"
    },
    {
      "name": "gmra"
    },
    {
      "name": "gmsla"
    },
    {
      "name": "governance"
    },
    {
      "name": "governance_mandate"
    },
    {
      "name": "green asset ratio"
    },
    {
      "name": "greenwashing"
    },
    {
      "name": "haircut"
    },
    {
      "name": "handover"
    },
    {
      "name": "harmonization"
    },
    {
      "name": "hash"
    },
    {
      "name": "hash-chain"
    },
    {
      "name": "hash-proof"
    },
    {
      "name": "headers"
    },
    {
      "name": "helm"
    },
    {
      "name": "herstatt"
    },
    {
      "name": "hifo"
    },
    {
      "name": "high-risk AI"
    },
    {
      "name": "historical"
    },
    {
      "name": "holidays"
    },
    {
      "name": "horizon-scanning"
    },
    {
      "name": "hqla"
    },
    {
      "name": "http-message-signatures"
    },
    {
      "name": "hvps"
    },
    {
      "name": "hybrid mode"
    },
    {
      "name": "identity"
    },
    {
      "name": "idle-capital"
    },
    {
      "name": "ifd"
    },
    {
      "name": "ifr"
    },
    {
      "name": "iir"
    },
    {
      "name": "ima"
    },
    {
      "name": "impact-assessment"
    },
    {
      "name": "impact-tolerances"
    },
    {
      "name": "import"
    },
    {
      "name": "incident"
    },
    {
      "name": "incident record"
    },
    {
      "name": "inclusion proof"
    },
    {
      "name": "index"
    },
    {
      "name": "indicated-rate-change"
    },
    {
      "name": "inflation-attack"
    },
    {
      "name": "information"
    },
    {
      "name": "information-return"
    },
    {
      "name": "infrastructure"
    },
    {
      "name": "infrastructure_mandate"
    },
    {
      "name": "ingredient-tree"
    },
    {
      "name": "initial"
    },
    {
      "name": "injection"
    },
    {
      "name": "input attestations"
    },
    {
      "name": "input-attestation"
    },
    {
      "name": "insider"
    },
    {
      "name": "instant payments"
    },
    {
      "name": "institution"
    },
    {
      "name": "insurance"
    },
    {
      "name": "insurance-pricing"
    },
    {
      "name": "insurance-regulation"
    },
    {
      "name": "insured"
    },
    {
      "name": "insurtech"
    },
    {
      "name": "interchange"
    },
    {
      "name": "interchange impact"
    },
    {
      "name": "intra-EU"
    },
    {
      "name": "intraday"
    },
    {
      "name": "investigation"
    },
    {
      "name": "investment"
    },
    {
      "name": "investment-adviser"
    },
    {
      "name": "ip"
    },
    {
      "name": "ip licensing"
    },
    {
      "name": "ipfs"
    },
    {
      "name": "iptc"
    },
    {
      "name": "irs"
    },
    {
      "name": "iscc"
    },
    {
      "name": "iso 20022"
    },
    {
      "name": "iso-24138"
    },
    {
      "name": "iso20022"
    },
    {
      "name": "iso23897"
    },
    {
      "name": "iso4914"
    },
    {
      "name": "issuance"
    },
    {
      "name": "issuer"
    },
    {
      "name": "issuer readiness"
    },
    {
      "name": "json"
    },
    {
      "name": "json schema"
    },
    {
      "name": "json-ld"
    },
    {
      "name": "jurisdiction"
    },
    {
      "name": "jwks"
    },
    {
      "name": "k-asa"
    },
    {
      "name": "k-aum"
    },
    {
      "name": "k-coh"
    },
    {
      "name": "k-factor"
    },
    {
      "name": "keccak256"
    },
    {
      "name": "kernel"
    },
    {
      "name": "key-rotation"
    },
    {
      "name": "km1"
    },
    {
      "name": "kya"
    },
    {
      "name": "kyc"
    },
    {
      "name": "large deposit exception"
    },
    {
      "name": "lcr"
    },
    {
      "name": "legal"
    },
    {
      "name": "legal-ops"
    },
    {
      "name": "lei"
    },
    {
      "name": "leverage-ratio"
    },
    {
      "name": "liabilities"
    },
    {
      "name": "liability"
    },
    {
      "name": "liability shift"
    },
    {
      "name": "license"
    },
    {
      "name": "licensing"
    },
    {
      "name": "life insurance"
    },
    {
      "name": "lifecycle"
    },
    {
      "name": "lifo"
    },
    {
      "name": "limits"
    },
    {
      "name": "linter"
    },
    {
      "name": "liq1"
    },
    {
      "name": "liq2"
    },
    {
      "name": "liquidity"
    },
    {
      "name": "liquidity_mandate"
    },
    {
      "name": "loss-development-factor"
    },
    {
      "name": "loss-ratio"
    },
    {
      "name": "loss-ratio-method"
    },
    {
      "name": "loss-trend"
    },
    {
      "name": "loss-triangle"
    },
    {
      "name": "lvnav"
    },
    {
      "name": "mTLS"
    },
    {
      "name": "major incident"
    },
    {
      "name": "management"
    },
    {
      "name": "mandate"
    },
    {
      "name": "manifest"
    },
    {
      "name": "manifest_digest"
    },
    {
      "name": "manipulation"
    },
    {
      "name": "mapping"
    },
    {
      "name": "mapr"
    },
    {
      "name": "mar30"
    },
    {
      "name": "mar32"
    },
    {
      "name": "mar33"
    },
    {
      "name": "margin"
    },
    {
      "name": "mark-price"
    },
    {
      "name": "markdown"
    },
    {
      "name": "market"
    },
    {
      "name": "market risk"
    },
    {
      "name": "market-risk"
    },
    {
      "name": "mastercard-agent-pay"
    },
    {
      "name": "matching"
    },
    {
      "name": "matrix"
    },
    {
      "name": "matter export"
    },
    {
      "name": "maturity"
    },
    {
      "name": "mcp:build_ap2_cartmandate_hashchain"
    },
    {
      "name": "mcp:check_iolta_three_way_reconciliation"
    },
    {
      "name": "mcp:check_jwks_pinned_directory"
    },
    {
      "name": "mcp:check_mica_register_presence"
    },
    {
      "name": "mcp:check_x402_domain_nonce_window"
    },
    {
      "name": "mcp:classify_mla_charge_inclusion"
    },
    {
      "name": "mcp:classify_redline_round_changes"
    },
    {
      "name": "mcp:decode_c2pa_aiml_assertions"
    },
    {
      "name": "mcp:recompute_erc4626_vault_share_math"
    },
    {
      "name": "mcp:recompute_erc7540_request_accounting"
    },
    {
      "name": "mcp:recompute_stablecoin_reserve_3source"
    },
    {
      "name": "mcp:recompute_x402_eip712_digest"
    },
    {
      "name": "mcp:sweep_docket_deadlines"
    },
    {
      "name": "mcp:verify_merkle_airdrop_proof"
    },
    {
      "name": "mcp:verify_x402_signer_recovery"
    },
    {
      "name": "merchant"
    },
    {
      "name": "merkle"
    },
    {
      "name": "merkle inclusion"
    },
    {
      "name": "merkle proof"
    },
    {
      "name": "merkle root"
    },
    {
      "name": "merkle-sum"
    },
    {
      "name": "metadata"
    },
    {
      "name": "method"
    },
    {
      "name": "mica"
    },
    {
      "name": "micro-payment"
    },
    {
      "name": "micropayment"
    },
    {
      "name": "mifid"
    },
    {
      "name": "mifid3"
    },
    {
      "name": "migration"
    },
    {
      "name": "migration roadmap"
    },
    {
      "name": "military-lending-act"
    },
    {
      "name": "minimum-tax"
    },
    {
      "name": "mmf"
    },
    {
      "name": "mne"
    },
    {
      "name": "mobilization"
    },
    {
      "name": "model"
    },
    {
      "name": "model inventory"
    },
    {
      "name": "model risk"
    },
    {
      "name": "model risk management"
    },
    {
      "name": "model-governance"
    },
    {
      "name": "model-risk"
    },
    {
      "name": "model_governance"
    },
    {
      "name": "monetisation"
    },
    {
      "name": "monitoring"
    },
    {
      "name": "monthly"
    },
    {
      "name": "monthly disclosure"
    },
    {
      "name": "mortgage"
    },
    {
      "name": "mt101"
    },
    {
      "name": "mt103"
    },
    {
      "name": "mt202"
    },
    {
      "name": "multi-currency"
    },
    {
      "name": "multibase"
    },
    {
      "name": "multihash"
    },
    {
      "name": "nacha"
    },
    {
      "name": "name matching"
    },
    {
      "name": "nca"
    },
    {
      "name": "new account exception"
    },
    {
      "name": "nft"
    },
    {
      "name": "nft-license"
    },
    {
      "name": "non-life"
    },
    {
      "name": "nonbank"
    },
    {
      "name": "nonce"
    },
    {
      "name": "nonce-check"
    },
    {
      "name": "nostro"
    },
    {
      "name": "notification"
    },
    {
      "name": "npv"
    },
    {
      "name": "nsfr"
    },
    {
      "name": "obligations"
    },
    {
      "name": "obliged entity"
    },
    {
      "name": "obliged-entity"
    },
    {
      "name": "observed"
    },
    {
      "name": "occ"
    },
    {
      "name": "october"
    },
    {
      "name": "odfi"
    },
    {
      "name": "oecd"
    },
    {
      "name": "offline"
    },
    {
      "name": "offline checker"
    },
    {
      "name": "offline verifier"
    },
    {
      "name": "on-chain"
    },
    {
      "name": "on-chain settlement"
    },
    {
      "name": "onboarding"
    },
    {
      "name": "oneSaaS"
    },
    {
      "name": "ongoing"
    },
    {
      "name": "open"
    },
    {
      "name": "open banking"
    },
    {
      "name": "open finance"
    },
    {
      "name": "open license"
    },
    {
      "name": "open-banking"
    },
    {
      "name": "openchaingraph"
    },
    {
      "name": "opensea"
    },
    {
      "name": "openzeppelin"
    },
    {
      "name": "operational resilience"
    },
    {
      "name": "operational risk"
    },
    {
      "name": "operational-resilience"
    },
    {
      "name": "ops"
    },
    {
      "name": "ops-policy"
    },
    {
      "name": "opt-out"
    },
    {
      "name": "optimisation"
    },
    {
      "name": "optimization"
    },
    {
      "name": "oracle"
    },
    {
      "name": "orchestration"
    },
    {
      "name": "originator"
    },
    {
      "name": "outcomes"
    },
    {
      "name": "output floor"
    },
    {
      "name": "ov1"
    },
    {
      "name": "oversight"
    },
    {
      "name": "own"
    },
    {
      "name": "p&l"
    },
    {
      "name": "pacs"
    },
    {
      "name": "pacs.008"
    },
    {
      "name": "pacs002"
    },
    {
      "name": "pacs008"
    },
    {
      "name": "pain"
    },
    {
      "name": "pain.001"
    },
    {
      "name": "pairing"
    },
    {
      "name": "paper"
    },
    {
      "name": "parametric-insurance"
    },
    {
      "name": "parametric-trigger"
    },
    {
      "name": "participation"
    },
    {
      "name": "passenger transport"
    },
    {
      "name": "passporting"
    },
    {
      "name": "path"
    },
    {
      "name": "pay-by-bank"
    },
    {
      "name": "payback"
    },
    {
      "name": "payment"
    },
    {
      "name": "payment composer"
    },
    {
      "name": "payment journey"
    },
    {
      "name": "payment mix"
    },
    {
      "name": "payment rails"
    },
    {
      "name": "payment stablecoin"
    },
    {
      "name": "payment-fraud"
    },
    {
      "name": "payment-rails"
    },
    {
      "name": "payment_mandate"
    },
    {
      "name": "payment_policy"
    },
    {
      "name": "payments"
    },
    {
      "name": "payout-curve"
    },
    {
      "name": "payroll redirect"
    },
    {
      "name": "pcaob"
    },
    {
      "name": "pdf"
    },
    {
      "name": "pearson"
    },
    {
      "name": "penetration testing"
    },
    {
      "name": "pensions"
    },
    {
      "name": "permissible-loss-ratio"
    },
    {
      "name": "permission"
    },
    {
      "name": "permission dashboard"
    },
    {
      "name": "personal finance"
    },
    {
      "name": "pfe"
    },
    {
      "name": "pfmi"
    },
    {
      "name": "phase"
    },
    {
      "name": "phase 2"
    },
    {
      "name": "phase-in"
    },
    {
      "name": "pid"
    },
    {
      "name": "pil"
    },
    {
      "name": "pillar-3"
    },
    {
      "name": "pillar-two"
    },
    {
      "name": "plat"
    },
    {
      "name": "platform economy"
    },
    {
      "name": "policy"
    },
    {
      "name": "portfolio"
    },
    {
      "name": "post-quantum"
    },
    {
      "name": "ppsi"
    },
    {
      "name": "pre-mint"
    },
    {
      "name": "pre-payment"
    },
    {
      "name": "precontractual"
    },
    {
      "name": "prefunding"
    },
    {
      "name": "preparation receipt"
    },
    {
      "name": "presence-as-of-date"
    },
    {
      "name": "presentation-request"
    },
    {
      "name": "price"
    },
    {
      "name": "price-aggregation"
    },
    {
      "name": "pricing"
    },
    {
      "name": "pricing-model"
    },
    {
      "name": "prin"
    },
    {
      "name": "print-lineage"
    },
    {
      "name": "privacy"
    },
    {
      "name": "probable-maximum-loss"
    },
    {
      "name": "proceeds"
    },
    {
      "name": "processor"
    },
    {
      "name": "procurement"
    },
    {
      "name": "product-classification"
    },
    {
      "name": "product-feed"
    },
    {
      "name": "products"
    },
    {
      "name": "profitability"
    },
    {
      "name": "programmable-ip-license"
    },
    {
      "name": "prompt injection"
    },
    {
      "name": "prompt_template"
    },
    {
      "name": "proof-of-reserves"
    },
    {
      "name": "property-casualty"
    },
    {
      "name": "protocol"
    },
    {
      "name": "provenance"
    },
    {
      "name": "provider"
    },
    {
      "name": "prudential"
    },
    {
      "name": "ps22/9"
    },
    {
      "name": "ps23/3"
    },
    {
      "name": "psd2"
    },
    {
      "name": "psd3"
    },
    {
      "name": "psp"
    },
    {
      "name": "psr"
    },
    {
      "name": "psrs"
    },
    {
      "name": "publish-readiness"
    },
    {
      "name": "publishing"
    },
    {
      "name": "pure-premium-method"
    },
    {
      "name": "push-payment"
    },
    {
      "name": "pvp"
    },
    {
      "name": "qc-1000"
    },
    {
      "name": "qdmtt"
    },
    {
      "name": "qeaa"
    },
    {
      "name": "qualification"
    },
    {
      "name": "quantum risk"
    },
    {
      "name": "rag"
    },
    {
      "name": "rail"
    },
    {
      "name": "range digest"
    },
    {
      "name": "rate limiting"
    },
    {
      "name": "rate-filing"
    },
    {
      "name": "rate-on-line"
    },
    {
      "name": "ratemaking"
    },
    {
      "name": "raw codec"
    },
    {
      "name": "rdfa"
    },
    {
      "name": "rdfi"
    },
    {
      "name": "readiness"
    },
    {
      "name": "readiness diagnostic"
    },
    {
      "name": "reason codes"
    },
    {
      "name": "rebase"
    },
    {
      "name": "recapitulative statement"
    },
    {
      "name": "receipt"
    },
    {
      "name": "receipt chain"
    },
    {
      "name": "receiving"
    },
    {
      "name": "reconciliation"
    },
    {
      "name": "redemption policy"
    },
    {
      "name": "redline"
    },
    {
      "name": "redline-diffing"
    },
    {
      "name": "reference"
    },
    {
      "name": "reg-bi"
    },
    {
      "name": "register"
    },
    {
      "name": "registration"
    },
    {
      "name": "registry"
    },
    {
      "name": "regtech"
    },
    {
      "name": "regulation"
    },
    {
      "name": "regulation cc"
    },
    {
      "name": "regulator"
    },
    {
      "name": "regulatory"
    },
    {
      "name": "regulatory capital"
    },
    {
      "name": "regulatory compliance"
    },
    {
      "name": "regulatory reporting"
    },
    {
      "name": "regulatory-change"
    },
    {
      "name": "regulatory-reporting"
    },
    {
      "name": "regulatory_reporting"
    },
    {
      "name": "reimbursement"
    },
    {
      "name": "reinstatement"
    },
    {
      "name": "reinsurance"
    },
    {
      "name": "rejection"
    },
    {
      "name": "relying party"
    },
    {
      "name": "relying-party"
    },
    {
      "name": "remediation"
    },
    {
      "name": "replay-defense"
    },
    {
      "name": "repo"
    },
    {
      "name": "report"
    },
    {
      "name": "reportable"
    },
    {
      "name": "reporting"
    },
    {
      "name": "reporting deadline"
    },
    {
      "name": "representment"
    },
    {
      "name": "request-lifecycle"
    },
    {
      "name": "requirements"
    },
    {
      "name": "reserve"
    },
    {
      "name": "reserve attestation"
    },
    {
      "name": "reserve composition"
    },
    {
      "name": "reserve-adequacy"
    },
    {
      "name": "reserve-ratio"
    },
    {
      "name": "reserving"
    },
    {
      "name": "resilience"
    },
    {
      "name": "resolver"
    },
    {
      "name": "retail investment"
    },
    {
      "name": "retirement"
    },
    {
      "name": "retry"
    },
    {
      "name": "return codes"
    },
    {
      "name": "return-period"
    },
    {
      "name": "revenue"
    },
    {
      "name": "rfc3161"
    },
    {
      "name": "rfc9421"
    },
    {
      "name": "rights-reservation"
    },
    {
      "name": "risk"
    },
    {
      "name": "risk factors"
    },
    {
      "name": "risk management"
    },
    {
      "name": "risk-appetite"
    },
    {
      "name": "risk-based approach"
    },
    {
      "name": "risk-based-capital"
    },
    {
      "name": "risk-classification"
    },
    {
      "name": "risk-reporting"
    },
    {
      "name": "risk-scoring"
    },
    {
      "name": "risk_control"
    },
    {
      "name": "risk_parameter"
    },
    {
      "name": "roi"
    },
    {
      "name": "round-trip"
    },
    {
      "name": "rounding"
    },
    {
      "name": "roundtrip"
    },
    {
      "name": "routine-profits"
    },
    {
      "name": "routing"
    },
    {
      "name": "routing_policy"
    },
    {
      "name": "royalty"
    },
    {
      "name": "rsf"
    },
    {
      "name": "rts"
    },
    {
      "name": "rule changes"
    },
    {
      "name": "runway"
    },
    {
      "name": "rwa-fund"
    },
    {
      "name": "sa-ccr"
    },
    {
      "name": "sa-cva"
    },
    {
      "name": "sa-im"
    },
    {
      "name": "safe withdrawal rate"
    },
    {
      "name": "safe-harbour"
    },
    {
      "name": "sanctions"
    },
    {
      "name": "sanctions-programme"
    },
    {
      "name": "sandbox"
    },
    {
      "name": "sbie"
    },
    {
      "name": "sca"
    },
    {
      "name": "scam"
    },
    {
      "name": "scenario"
    },
    {
      "name": "schedule"
    },
    {
      "name": "schema"
    },
    {
      "name": "schema subset"
    },
    {
      "name": "schema validation"
    },
    {
      "name": "scheme"
    },
    {
      "name": "scheme fees"
    },
    {
      "name": "scheme readiness"
    },
    {
      "name": "scheme_rule"
    },
    {
      "name": "sco60"
    },
    {
      "name": "scope"
    },
    {
      "name": "scoping"
    },
    {
      "name": "scorecard"
    },
    {
      "name": "scoring"
    },
    {
      "name": "screening"
    },
    {
      "name": "sdd"
    },
    {
      "name": "sec"
    },
    {
      "name": "sec-2a7"
    },
    {
      "name": "secci"
    },
    {
      "name": "securities"
    },
    {
      "name": "securities-lending"
    },
    {
      "name": "security"
    },
    {
      "name": "selective disclosure"
    },
    {
      "name": "selective-disclosure"
    },
    {
      "name": "self-addressing"
    },
    {
      "name": "self-assessment"
    },
    {
      "name": "semconv"
    },
    {
      "name": "sending"
    },
    {
      "name": "senior officer"
    },
    {
      "name": "sensitivity"
    },
    {
      "name": "sepa"
    },
    {
      "name": "september"
    },
    {
      "name": "sequence risk"
    },
    {
      "name": "server"
    },
    {
      "name": "server.json"
    },
    {
      "name": "service"
    },
    {
      "name": "services"
    },
    {
      "name": "settlement"
    },
    {
      "name": "settlement risk"
    },
    {
      "name": "settlement_finality_mandate"
    },
    {
      "name": "settlement_mandate"
    },
    {
      "name": "sft"
    },
    {
      "name": "sftr"
    },
    {
      "name": "sha-256"
    },
    {
      "name": "share-price"
    },
    {
      "name": "sharing-deadline"
    },
    {
      "name": "shift"
    },
    {
      "name": "short-term accommodation"
    },
    {
      "name": "signature"
    },
    {
      "name": "signed agent card"
    },
    {
      "name": "significant"
    },
    {
      "name": "simplified"
    },
    {
      "name": "simplified-etr"
    },
    {
      "name": "simulation"
    },
    {
      "name": "single-rulebook"
    },
    {
      "name": "six objectives"
    },
    {
      "name": "snapshot-digest"
    },
    {
      "name": "solvency"
    },
    {
      "name": "solvency-ii"
    },
    {
      "name": "solvency-margin"
    },
    {
      "name": "sovereign-risk"
    },
    {
      "name": "span"
    },
    {
      "name": "span receipt"
    },
    {
      "name": "spdx"
    },
    {
      "name": "spearman"
    },
    {
      "name": "spec revision"
    },
    {
      "name": "spec-23"
    },
    {
      "name": "spec-id"
    },
    {
      "name": "spend controls"
    },
    {
      "name": "split"
    },
    {
      "name": "sponsor-bank"
    },
    {
      "name": "spreadsheet"
    },
    {
      "name": "stable-funding"
    },
    {
      "name": "stablecoin"
    },
    {
      "name": "standard-formula"
    },
    {
      "name": "standardised"
    },
    {
      "name": "standardised approach"
    },
    {
      "name": "startup"
    },
    {
      "name": "state"
    },
    {
      "name": "state charter"
    },
    {
      "name": "state-machine"
    },
    {
      "name": "stateless"
    },
    {
      "name": "status"
    },
    {
      "name": "stor"
    },
    {
      "name": "story-protocol"
    },
    {
      "name": "stress"
    },
    {
      "name": "strong"
    },
    {
      "name": "structural-check"
    },
    {
      "name": "structured address"
    },
    {
      "name": "structured invoice"
    },
    {
      "name": "structuring"
    },
    {
      "name": "subscription"
    },
    {
      "name": "suitability"
    },
    {
      "name": "surcharge"
    },
    {
      "name": "sustainability"
    },
    {
      "name": "sustainability label"
    },
    {
      "name": "swift"
    },
    {
      "name": "swift gpi"
    },
    {
      "name": "synthetic data"
    },
    {
      "name": "synthetic-identity"
    },
    {
      "name": "synthid"
    },
    {
      "name": "systemic-cyber"
    },
    {
      "name": "t+1"
    },
    {
      "name": "t-bills"
    },
    {
      "name": "tail-risk"
    },
    {
      "name": "tamper-evident"
    },
    {
      "name": "tasl"
    },
    {
      "name": "tax planning"
    },
    {
      "name": "tax-free"
    },
    {
      "name": "tax-reporting"
    },
    {
      "name": "taxonomy"
    },
    {
      "name": "td-9996"
    },
    {
      "name": "tdm"
    },
    {
      "name": "tdmrep"
    },
    {
      "name": "technical-premium"
    },
    {
      "name": "technology-assisted-analysis"
    },
    {
      "name": "template"
    },
    {
      "name": "test"
    },
    {
      "name": "test data"
    },
    {
      "name": "testing"
    },
    {
      "name": "text"
    },
    {
      "name": "third-party"
    },
    {
      "name": "three-source-reconcile"
    },
    {
      "name": "threshold"
    },
    {
      "name": "thresholds"
    },
    {
      "name": "tier-1"
    },
    {
      "name": "tiered"
    },
    {
      "name": "timeline"
    },
    {
      "name": "token"
    },
    {
      "name": "token bucket"
    },
    {
      "name": "tokenization"
    },
    {
      "name": "tokenized-vault"
    },
    {
      "name": "tokenuri"
    },
    {
      "name": "tool definition"
    },
    {
      "name": "tool poisoning"
    },
    {
      "name": "top-up-tax"
    },
    {
      "name": "tps"
    },
    {
      "name": "tpsp"
    },
    {
      "name": "trace verification"
    },
    {
      "name": "tracing"
    },
    {
      "name": "trade-report"
    },
    {
      "name": "trade-repository"
    },
    {
      "name": "trading"
    },
    {
      "name": "trading desk"
    },
    {
      "name": "training data"
    },
    {
      "name": "training-opt-out"
    },
    {
      "name": "transaction monitoring"
    },
    {
      "name": "transaction-reporting"
    },
    {
      "name": "transition"
    },
    {
      "name": "transition plan"
    },
    {
      "name": "transitional"
    },
    {
      "name": "transparency"
    },
    {
      "name": "transport"
    },
    {
      "name": "travel-rule"
    },
    {
      "name": "treasury"
    },
    {
      "name": "treasury_mandate"
    },
    {
      "name": "treaty-pricing"
    },
    {
      "name": "trigger-structure"
    },
    {
      "name": "truncation"
    },
    {
      "name": "trust-accounting"
    },
    {
      "name": "tsv"
    },
    {
      "name": "typology"
    },
    {
      "name": "ubo"
    },
    {
      "name": "uetr"
    },
    {
      "name": "umr"
    },
    {
      "name": "underwriting"
    },
    {
      "name": "underwriting-risk"
    },
    {
      "name": "upgrade"
    },
    {
      "name": "upi"
    },
    {
      "name": "upl"
    },
    {
      "name": "us"
    },
    {
      "name": "us-exemption"
    },
    {
      "name": "uti"
    },
    {
      "name": "utpr"
    },
    {
      "name": "v4.0"
    },
    {
      "name": "vLEI"
    },
    {
      "name": "validation"
    },
    {
      "name": "validator"
    },
    {
      "name": "value"
    },
    {
      "name": "velocity"
    },
    {
      "name": "vendor contract"
    },
    {
      "name": "vendor impersonation"
    },
    {
      "name": "verifiable credentials"
    },
    {
      "name": "verifiable-credential"
    },
    {
      "name": "verifiable-credentials"
    },
    {
      "name": "verification of payee"
    },
    {
      "name": "verifier"
    },
    {
      "name": "visa"
    },
    {
      "name": "visa-tap"
    },
    {
      "name": "vop_readiness_attestation"
    },
    {
      "name": "vostro"
    },
    {
      "name": "vulnerability"
    },
    {
      "name": "w3c"
    },
    {
      "name": "waiver"
    },
    {
      "name": "wallet"
    },
    {
      "name": "wam"
    },
    {
      "name": "watermark"
    },
    {
      "name": "wave23"
    },
    {
      "name": "wave24"
    },
    {
      "name": "wave28"
    },
    {
      "name": "wealth"
    },
    {
      "name": "web-bot-auth"
    },
    {
      "name": "well-known"
    },
    {
      "name": "white"
    },
    {
      "name": "wolfsberg"
    },
    {
      "name": "workbook"
    },
    {
      "name": "workflow"
    },
    {
      "name": "working capital"
    },
    {
      "name": "workpaper"
    },
    {
      "name": "worksheet"
    },
    {
      "name": "write-back"
    },
    {
      "name": "x402"
    },
    {
      "name": "xbrl"
    },
    {
      "name": "xlsx"
    },
    {
      "name": "zero network"
    },
    {
      "name": "zero-PII"
    },
    {
      "name": "zero-pii"
    },
    {
      "name": "zip"
    },
    {
      "name": "zktls"
    },
    {
      "name": "zone"
    }
  ],
  "paths": {
    "/v1/tools/calculate_a2a_fee_route": {
      "post": {
        "operationId": "calculate_a2a_fee_route",
        "summary": "A2A Fee Calculator + Route Optimizer",
        "description": "Calculates per-transaction and annual costs for A2A rails (FedNow, RTP, Same-Day ACH, Next-Day ACH) versus card, and runs a multi-factor route optimizer across speed, cost, finality, and use-case fit. Exports a route recommendation mandate.\n\n**Tool URL:** https://ainumbers.co/tools/01-a2a-fee-route-optimizer.html\n**AP2/Policy Mandate export:** yes",
        "tags": [
          "A2A",
          "fee",
          "FedNow",
          "RTP",
          "ACH",
          "routing",
          "cost",
          "interchange"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "volume",
                  "avgTxn",
                  "cardRate"
                ],
                "properties": {
                  "volume": {
                    "type": "number"
                  },
                  "avgTxn": {
                    "type": "number"
                  },
                  "cardRate": {
                    "type": "number"
                  },
                  "urgency": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "best_rail": {
                      "type": "string"
                    },
                    "best_cost_monthly": {
                      "type": "number"
                    },
                    "best_savings_yr": {
                      "type": "number"
                    },
                    "savings_pct": {
                      "type": "number"
                    },
                    "route_rail": {
                      "type": "string"
                    },
                    "route_confidence": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mcp-tool-name": "calculate_a2a_fee_route",
        "x-tool-url": "https://ainumbers.co/tools/01-a2a-fee-route-optimizer.html",
        "x-source": "manifest",
        "x-ap2-export": true
      }
    },
    "/v1/tools/build_iso20022_message": {
      "post": {
        "operationId": "build_iso20022_message",
        "summary": "ISO 20022 Message Builder + Pilot Brief Generator",
        "description": "Builds and validates ISO 20022 pacs.008, pacs.009, pain.001, camt.053, and camt.054 messages from structured inputs. Generates a pilot brief and downloadable XML. Validates field constraints and UETR format.\n\n**Tool URL:** https://ainumbers.co/tools/02-iso20022-builder.html\n**AP2/Policy Mandate export:** yes",
        "tags": [
          "ISO 20022",
          "pacs.008",
          "pain.001",
          "camt.053",
          "XML",
          "SWIFT",
          "SEPA",
          "builder"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "msgType"
                ],
                "properties": {
                  "msgType": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "debtorBIC": {
                    "type": "string"
                  },
                  "creditorBIC": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "validation_pass": {
                      "type": "boolean"
                    },
                    "validation_errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "xml_generated": {
                      "type": "boolean"
                    },
                    "pilot_brief_generated": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mcp-tool-name": "build_iso20022_message",
        "x-tool-url": "https://ainumbers.co/tools/02-iso20022-builder.html",
        "x-source": "manifest",
        "x-ap2-export": true
      }
    },
    "/v1/tools/audit_consent_compliance": {
      "post": {
        "operationId": "audit_consent_compliance",
        "summary": "Consent Simulator + Compliance Auditor",
        "description": "Simulates an open banking consent flow and audits it against PSD2, UK PSD, CFPB 1033, and AU CDR rules. Flags scope violations, over-collection, renewal gaps, and generates a signed JWT receipt.\n\n**Tool URL:** https://ainumbers.co/tools/03-consent-compliance-auditor.html\n**AP2/Policy Mandate export:** yes",
        "tags": [
          "consent",
          "PSD2",
          "open banking",
          "CFPB 1033",
          "CDR",
          "JWT",
          "compliance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "scopes",
                  "regime"
                ],
                "properties": {
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "regime": {
                    "type": "string",
                    "enum": [
                      "psd2",
                      "uk",
                      "us",
                      "au"
                    ]
                  },
                  "duration": {
                    "type": "number"
                  },
                  "renewal": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "overall_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100
                    },
                    "pass_count": {
                      "type": "number"
                    },
                    "warn_count": {
                      "type": "number"
                    },
                    "fail_count": {
                      "type": "number"
                    },
                    "jwt_generated": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mcp-tool-name": "audit_consent_compliance",
        "x-tool-url": "https://ainumbers.co/tools/03-consent-compliance-auditor.html",
        "x-source": "manifest",
        "x-ap2-export": true
      }
    },
    "/v1/tools/simulate_fraud_score": {
      "post": {
        "operationId": "simulate_fraud_score",
        "summary": "Fraud Score Simulator + Explainability Panel",
        "description": "Simulates a real-time fraud scoring engine across velocity, device, behavioural, network, and value signals. Returns a 0-100 fraud score, risk band, recommended action, and SHAP-style explainability breakdown.\n\n**Tool URL:** https://ainumbers.co/tools/04-fraud-score-simulator.html\n**AP2/Policy Mandate export:** yes",
        "tags": [
          "fraud",
          "scoring",
          "ML",
          "explainability",
          "velocity",
          "device",
          "AML"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount"
                ],
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "velocity_1h": {
                    "type": "number"
                  },
                  "device_match": {
                    "type": "boolean"
                  },
                  "country_risk": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100
                    },
                    "risk": {
                      "type": "string",
                      "enum": [
                        "LOW",
                        "MEDIUM",
                        "HIGH",
                        "CRITICAL"
                      ]
                    },
                    "action": {
                      "type": "string",
                      "enum": [
                        "ALLOW",
                        "STEP_UP",
                        "BLOCK",
                        "REVIEW"
                      ]
                    },
                    "triggered_rules": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-mcp-tool-name": "simulate_fraud_score",
        "x-tool-url": "https://ainumbers.co/tools/04-fraud-score-simulator.html",
        "x-source": "manifest",
        "x-ap2-export": true
      }
    },
    "/v1/tools/invoice_a2a_suite": {
      "post": {
        "operationId": "invoice_a2a_suite",
        "summary": "Invoice-to-A2A Tooling Suite",
        "description": "Parse invoices into Pay-by-Bank links and reconcile A2A payments against invoices. Client-side only, zero PII transmitted.\n\n**Tool URL:** https://ainumbers.co/tools/05-invoice-a2a-suite.html\n**AP2/Policy Mandate export:** yes",
        "tags": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "x-mcp-tool-name": "invoice_a2a_suite",
        "x-tool-url": "https://ainumbers.co/tools/05-invoice-a2a-suite.html",
        "x-source": "manifest",
        "x-ap2-export": true
      }
    },
    "/v1/tools/fednow_lookup": {
      "post": {
        "operationId": "fednow_lookup",
        "summary": "FedNow Participant Lookup + Coverage Stats",
        "description": "Search all 1,705 FedNow-participating financial institutions by name, city, or state. Coverage stats, CSV export. Client-side only, zero PII. AINumbers.co.\n\n**Tool URL:** https://ainumbers.co/tools/06-fednow-lookup.html\n**AP2/Policy Mandate export:** yes",
        "tags": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "search-name": {
                    "type": "string"
                  },
                  "search-rtn": {
                    "type": "string"
                  },
                  "filter-state": {
                    "type": "string"
                  },
                  "filter-cap": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "x-mcp-tool-name": "fednow_lookup",
        "x-tool-url": "https://ainumbers.co/tools/06-fednow-lookup.html",
        "x-source": "manifest",
        "x-ap2-export": true
      }
    },
    "/v1/tools/validate_ach_nacha_file": {
      "post": {
        "operationId": "validate_ach_nacha_file",
        "summary": "ACH / NACHA File Validator + Return Code Decoder",
        "description": "Validates NACHA ACH file format (all record types, field widths, check digits, batch balancing, control totals) and decodes ACH return codes with remediation guidance. Reports errors, warnings, and a compliance summary.\n\n**Tool URL:** https://ainumbers.co/tools/07-ach-nacha-validator.html\n**AP2/Policy Mandate export:** yes",
        "tags": [
          "ACH",
          "NACHA",
          "validation",
          "return codes",
          "batch",
          "file format"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileContent"
                ],
                "properties": {
                  "fileContent": {
                    "type": "string"
                  },
                  "returnCode": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean"
                    },
                    "error_count": {
                      "type": "number"
                    },
                    "warning_count": {
                      "type": "number"
                    },
                    "batch_count": {
                      "type": "number"
                    },
                    "entry_count": {
                      "type": "number"
                    },
                    "total_debit": {
                      "type": "number"
                    },
                    "total_credit": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mcp-tool-name": "validate_ach_nacha_file",
        "x-tool-url": "https://ainumbers.co/tools/07-ach-nacha-validator.html",
        "x-source": "manifest",
        "x-ap2-export": true
      }
    },
    "/v1/tools/prototype_pay_by_bank_checkout": {
      "post": {
        "operationId": "prototype_pay_by_bank_checkout",
        "summary": "Pay-by-Bank Checkout Prototyper + Conversion Insights",
        "description": "Interactive checkout flow prototyper for pay-by-bank implementations. Configures bank selection, consent, confirmation, and success screens with conversion scoring, drop-off funnel analysis, and UX insight recommendations.\n\n**Tool URL:** https://ainumbers.co/tools/08-pay-by-bank-prototyper.html\n**AP2/Policy Mandate export:** yes",
        "tags": [
          "pay-by-bank",
          "checkout",
          "UX",
          "conversion",
          "open banking",
          "A2A"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brandName": {
                    "type": "string"
                  },
                  "consentStyle": {
                    "type": "string"
                  },
                  "bankCount": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversion_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100
                    },
                    "friction_points": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-mcp-tool-name": "prototype_pay_by_bank_checkout",
        "x-tool-url": "https://ainumbers.co/tools/08-pay-by-bank-prototyper.html",
        "x-source": "manifest",
        "x-ap2-export": true
      }
    },
    "/v1/tools/reconcile_a2a_payments": {
      "post": {
        "operationId": "reconcile_a2a_payments",
        "summary": "A2A Reconciliation Workbench + Reference Generator",
        "description": "Matches bank statement rows against internal ledger rows using exact and fuzzy matching. Reports matched pairs, unmatched items, net difference, and aging of exceptions. Also generates ISO 20022, NACHA, and SEPA payment references.\n\n**Tool URL:** https://ainumbers.co/tools/09-a2a-reconciliation-workbench.html\n**AP2/Policy Mandate export:** yes",
        "tags": [
          "reconciliation",
          "A2A",
          "matching",
          "exceptions",
          "ISO 20022",
          "NACHA",
          "SEPA"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bankRows",
                  "ledgerRows"
                ],
                "properties": {
                  "bankRows": {
                    "type": "array"
                  },
                  "ledgerRows": {
                    "type": "array"
                  },
                  "tolerance": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "matched_count": {
                      "type": "number"
                    },
                    "unmatched_bank": {
                      "type": "number"
                    },
                    "unmatched_ledger": {
                      "type": "number"
                    },
                    "net_difference": {
                      "type": "number"
                    },
                    "match_rate_pct": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mcp-tool-name": "reconcile_a2a_payments",
        "x-tool-url": "https://ainumbers.co/tools/09-a2a-reconciliation-workbench.html",
        "x-source": "manifest",
        "x-ap2-export": true
      }
    },
    "/v1/tools/simulate_api_rate_limit": {
      "post": {
        "operationId": "simulate_api_rate_limit",
        "summary": "Open Banking API Explorer + Rate Limit Simulator",
        "description": "Explores Open Banking API endpoints (accounts, transactions, payments, balances) with mock responses, and simulates rate-limiting policies (token bucket, leaky bucket, fixed window, sliding window) with timeline visualisation and retry code generation.\n\n**Tool URL:** https://ainumbers.co/tools/10-open-banking-api-explorer.html\n**AP2/Policy Mandate export:** yes",
        "tags": [
          "open banking",
          "API",
          "rate limiting",
          "token bucket",
          "retry",
          "PSD2",
          "UK OB"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "policy",
                  "rpm"
                ],
                "properties": {
                  "policy": {
                    "type": "string"
                  },
                  "rpm": {
                    "type": "number"
                  },
                  "burst": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "policy": {
                      "type": "string"
                    },
                    "total_requests": {
                      "type": "number"
                    },
                    "allowed": {
                      "type": "number"
                    },
                    "throttled": {
                      "type": "number"
                    },
                    "throttle_rate": {
                      "type": "number"
                    },
                    "retry_code_lang": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mcp-tool-name": "simulate_api_rate_limit",
        "x-tool-url": "https://ainumbers.co/tools/10-open-banking-api-explorer.html",
        "x-source": "manifest",
        "x-ap2-export": true
      }
    },
    "/v1/tools/audit_dora_resilience": {
      "post": {
        "operationId": "audit_dora_resilience",
        "summary": "DORA Operational Resilience Auditor",
        "description": "Self-assessment tool mapping an institution's controls against all five DORA pillars: ICT Risk Management, Incident Reporting, DORA Testing, Third-Party Risk, and Information Sharing. Scores readiness and identifies critical gaps.\n\n**Tool URL:** https://ainumbers.co/tools/100-dora-resilience-auditor.html\n**AP2/Policy Mandate export:** yes",
        "tags": [
          "DORA",
          "resilience",
          "ICT",
          "incident",
          "third-party",
          "EU",
          "compliance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Answer set keyed by question ID",
                "additionalProperties": {
                  "type": "string",
                  "enum": [
                    "yes",
                    "partial",
                    "no"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "overall_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100
                    },
                    "pillars": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "gaps": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-mcp-tool-name": "audit_dora_resilience",
        "x-tool-url": "https://ainumbers.co/tools/100-dora-resilience-auditor.html",
        "x-source": "manifest",
        "x-ap2-export": true
      }
    },
    "/v1/tools/score_iso20022_migration": {
      "post": {
        "operationId": "score_iso20022_migration",
        "summary": "ISO 20022 Migration Readiness Scorer",
        "description": "Weighted self-assessment across five migration dimensions: Message Coverage, Data Quality, Infrastructure, Testing, and Governance. Scores each dimension and produces an overall readiness band with a gap memo.\n\n**Tool URL:** https://ainumbers.co/tools/101-iso20022-migration-scorer.html\n**AP2/Policy Mandate export:** yes",
        "tags": [
          "ISO 20022",
          "migration",
          "SWIFT CBPR+",
          "readiness",
          "scoring",
          "gap analysis"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Answer set keyed by question ID",
                "additionalProperties": {
                  "type": "string",
                  "enum": [
                    "yes",
                    "partial",
                    "no"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "overall_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100
                    },
                    "readiness_band": {
                      "type": "string",
                      "enum": [
                        "Ready",
                        "At Risk",
                        "Not Ready",
                        "Incomplete"
                      ]
                    },
                    "dimensions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-mcp-tool-name": "score_iso20022_migration",
        "x-tool-url": "https://ainumbers.co/tools/101-iso20022-migration-scorer.html",
        "x-source": "manifest",
        "x-ap2-export": true
      }
    },
    "/v1/tools/check_ap2_compatibility": {
      "post": {
        "operationId": "check_ap2_compatibility",
        "summary": "AP2 Agentic Payments Compatibility Checker",
        "description": "Validates a payment payload or manual checklist against the AP2 (Agent-to-Agent Payments Protocol) specification. Scores compatibility, flags schema gaps, and generates a scaffold for non-compliant payloads.\n\n**Tool URL:** https://ainumbers.co/tools/102-ap2-payments-checker.html\n**AP2/Policy Mandate export:** yes",
        "tags": [
          "AP2",
          "agentic payments",
          "compatibility",
          "schema",
          "validation",
          "Google A2A"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mode"
                ],
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "json",
                      "manual"
                    ]
                  },
                  "payload": {
                    "type": "object"
                  },
                  "answers": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "compatibility_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100
                    },
                    "band": {
                      "type": "string",
                      "enum": [
                        "AP2-Ready",
                        "Partially Compatible",
                        "Incompatible",
                        "Unknown"
                      ]
                    },
                    "dimensions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "scaffold_generated": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mcp-tool-name": "check_ap2_compatibility",
        "x-tool-url": "https://ainumbers.co/tools/102-ap2-payments-checker.html",
        "x-source": "manifest",
        "x-ap2-export": true
      }
    },
    "/v1/tools/optimise_payment_mix": {
      "post": {
        "operationId": "optimise_payment_mix",
        "summary": "Payment Method Mix Optimizer",
        "description": "Models a merchant's payment method mix (card, A2A, BNPL, wallet, cash) against volume, AOV, and interchange rates. Calculates blended cost, recommends an optimal mix, and projects annual savings.\n\n**Tool URL:** https://ainumbers.co/tools/103-payment-method-optimizer.html\n**AP2/Policy Mandate export:** yes",
        "tags": [
          "payment mix",
          "interchange",
          "A2A",
          "BNPL",
          "wallet",
          "merchant",
          "cost optimisation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "monthly_vol",
                  "aov",
                  "mix"
                ],
                "properties": {
                  "monthly_vol": {
                    "type": "number"
                  },
                  "aov": {
                    "type": "number"
                  },
                  "mix": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "health_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100
                    },
                    "current_annual_cost": {
                      "type": "number"
                    },
                    "optimized_annual_cost": {
                      "type": "number"
                    },
                    "projected_savings": {
                      "type": "number"
                    },
                    "recommended_mix": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mcp-tool-name": "optimise_payment_mix",
        "x-tool-url": "https://ainumbers.co/tools/103-payment-method-optimizer.html",
        "x-source": "manifest",
        "x-ap2-export": true
      }
    },
    "/v1/tools/receivables_dso_optimizer": {
      "post": {
        "operationId": "receivables_dso_optimizer",
        "summary": "Receivables DSO & Collections Optimizer",
        "description": "Enter your AR aging buckets and get a ranked action plan: which collection levers reduce DSO fastest, how much cash each releases, and what to do first. Conservative/Base/Aggressive scenarios. Board memo and Policy Mandate JSON export. Client-side. Zero PII.\n\n**Tool URL:** https://ainumbers.co/tools/104-receivables-dso-optimizer.html\n**AP2/Policy Mandate export:** yes",
        "tags": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
[...]
